@font-face {
	font-family: Buda;
	src: url(fonts/Buda-Light.ttf);
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 62.5%;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 200;
}

a {
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}

a:hover {
	color: #fff;
}

strong {
	font-weight: 400;
}

.page {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	min-height: 120%;
	box-sizing: border-box;
	-webkit-box-shadow: #000 0 0 10px;
	-moz-box-shadow: #000 0 0 10px; /* color, h-offset, v-offset, blur, spread */
	box-shadow: #000 0 0 10px; /* inset is optional */
	text-align: center;
}

#page-portfolio {
	background-image: -webkit-gradient(radial, center center, 10, center center, 120, from(#fff), to(#ddd)); /* for older webkit */
	background-image: -webkit-radial-gradient(center center, circle closest-corner, #fff 10%, #ddd 120%);
	background-image: -moz-radial-gradient(center center, circle closest-corner, #fff 10%, #ddd 120%);
	background-image: radial-gradient(center center, circle closest-corner, #fff 10%, #ddd 120%);
	z-index: 3;
}

#page-about {
	background-image: -webkit-gradient(radial, center center, 10, center center, 120, from(#8AC924), to(#6C9C21)); /* for older webkit */
	background-image: -webkit-radial-gradient(center center, circle closest-corner, #8AC924 10%, #6C9C21 120%);
	background-image: -moz-radial-gradient(center center, circle closest-corner, #8AC924 10%, #6C9C21 120%);
	background-image: radial-gradient(center center, circle closest-corner, #8AC924 10%, #6C9C21 120%);
	z-index: 2;
}

#page-contact {
	background-image: -webkit-gradient(radial, center center, 10, center center, 120, from(#312f43), to(#2c2b3b)); /* for older webkit */
	background-image: -webkit-radial-gradient(center center, circle closest-corner, #312f43 10%, #2c2b3b 120%);
	background-image: -moz-radial-gradient(center center, circle closest-corner, #312f43 10%, #2c2b3b 120%);
	background-image: radial-gradient(center center, circle closest-corner, #312f43 10%, #2c2b3b 120%);
	z-index: 1;
	color: #fff;
}

a.anchor {
	position: absolute;
	top: 0;
}

header.big {
	font-family: Buda;
	padding-top: 25%;
	text-shadow: #333 1px 0 0;
}

header.big h1.logo a {
	font-size: 5rem;
	background: url(images/logo-lemon.svg) top right no-repeat;
	background-size: auto 85%;
	background-position: top right;
	padding: 1.8rem 3.4rem;
	color: rgba(0,0,0,0.85);
	text-shadow: #fff 1px 0 0, #fff 0 0 40px;
}

header.big .subline {
	margin: 0 auto;
	font-size: 1.5rem;
	text-shadow: none;
	padding: 1rem;
}

header.big ul {
	margin: 0 auto;
	width: 30rem;
	overflow: auto;
	display: none;
}

header.big ul li {
	float: right;
	margin: 0 auto;
}

header.big ul li a {
	font-weight: 100;
	text-shadow: none;
	color: #aaa;
	padding: 5px 15px;
	float: left;
	font-size: 1.8em;
}

header.small {
	background: rgba(0,0,0,0.25);
	font-family: Buda;
	height: 3rem;
	z-index: 10;
	position: absolute;
	width: 100%;
}

header.small.fixed {
	position: fixed;
	top: 0;
}

nav, footer, .content-page article {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 0.8rem;
	position: relative;
}

header.small nav ul {

}

header.small nav ul li {
	float: right;
}

header.small nav ul li a {
	color: #fff;
	font-size: 1rem;
	padding: 0.5rem 0.8rem;
	line-height: 3.5rem;
	text-decoration: none;
	text-shadow: #333 1px 0 0;
	color: rgba(255,255,255,0.75)
}

header.small li.logo a {
	font-size: 1.2rem;
	background: url(images/logo-lemon.svg) top right no-repeat;
	background-size: auto 80%;
	background-position: top right;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	color: rgba(255,255,255,0.85);
}

header.small nav ul li a:hover {
	color: rgba(255,255,255,1);
}

.content-page article {
	padding-top: 5rem;
	text-align: left;
}

.content-page article h2 {
	font-size: 3rem;
}

.content-page article p {
	font-size: 1.8rem;
	line-height: 2rem;
}

#page-about article p {
	padding-top: 1rem;
}
#page-about article p:first-of-type {
	padding-top: 3rem;
}

#page-about .background {
	position: absolute;
	width: 78em;
	height: 75em;
	/*background: url(images/about-bg.png) center top no-repeat;*/
	right: 0;
	bottom: 0;
}


#page-contact article p.adresse {
	float: right;
	font-size: 1rem;
	text-align: right;
	position: absolute;
	right: 0.8rem;
	line-height: 120%;
	font-family: 'Buda';
	text-transform: lowercase;
}



#page-contact article form {
	margin: 3rem 0;
	font-size: 1.4rem;
}

#page-contact article form label {
	clear: both;
	width: 200px;
	display: block;
	margin: 1rem 0 0.2rem 0;

}

#page-contact article form input, #page-contact article form textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid rgba(33,33,33,0.8);
	border-radius: 3px;
	background: rgba(33,33,33,0.3);
	color: #fff;
	-webkit-box-shadow: rgba(33,33,33,0.8) 0 0 5px inset;
	-moz-box-shadow: rgba(33,33,33,0.8) 0 0 5px inset;
	box-shadow: rgba(33,33,33,0.8) 0 0 5px inset;
}

#page-contact article form input:focus, #page-contact article form textarea:focus {
	outline:0;
}

#page-contact article form textarea {
	width: 100%;
	height: 150px;
}

#page-contact article form input.button {
	width: 20%;
	margin: 1rem 0.5rem 0 0;
	font-size: 1rem;
	font-weight: 100;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	-webkit-box-shadow: rgba(33,33,33,0.8) 0 0 2px;
	-moz-box-shadow: rgba(33,33,33,0.8) 0 0 2px;
	box-shadow: rgba(33,33,33,0.8) 0 0 2px;
}

#page-contact article form input.button:hover {
	background: rgba(33,33,33,0.6);
	-webkit-box-shadow: rgba(33,33,33,0.8) 0 0 5px;
	-moz-box-shadow: rgba(33,33,33,0.8) 0 0 5px;
	box-shadow: rgba(33,33,33,0.8) 0 0 5px;
}

footer {
	margin-top: 15%;
	font-size: 1.2rem;
}
